<div class="container-fluid row align-items-center">
    <div class="col-6">
        <img [src]="homeimage" class="img-fluid" alt="">
    </div>
    <div class="col-6">
        <!-- string interpolation -->
        <h1>{{welcomeMessage}}</h1>
        <p class="fw-light mt-2 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit beatae earum, corrupti aperiam ipsa dolores molestias, corporis fuga est assumenda, quibusdam voluptatibus! Saepe esse optio velit molestiae ipsa commodi sunt?</p>
        <a routerLink="/register">
            <button class="btn btn-primary">Get started</button>
        </a>
    </div>
</div>